* {
    box-sizing: border-box; 
    margin: 0;
}

html {
    /* background: transparent url('background-grid.png') left top repeat scroll; */
}

body{
    /* background-color: ; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
    background: rgb(246,230,180); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

#text{
    width: 50%;
}

h1{
    color: purple;
    font-family: Verdana, sans-serif;
    width: 70%;
    margin: 10vw auto 1em auto;
    text-align: center;

}

p{
    color: slateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin: 10vw auto 1em auto;
    text-align: center;
    font-size: 1.5em;

}

img{
    position: absolute;
    top: 1em;
    left: 60vw;
    height: 40vw;
}